body {
	background: #f5f5f5f;
	font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    /*border-top: 15px solid #400000;*/
    /*border-left: 15px solid #f5f5f5;
    border-right: 15px solid #f5f5f5;*/
    /*margin: auto;*/
}

.borders{ 
    position: relative;
    border: 5px solid #f00;
}

.container {
    border: 1px solid #cc9900;
    border-width: 2px;
    /*border-radius: 5px 5px 5px 5px;*/
    padding: 20px;
    margin: 33px;
    width: 70%;
    float:left;
    vertical-align: center;
}

.container a {
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
}

.container p {
    font-size: 14px;
}

.container table {
    font-size: 14px;
    /*margin-top: 20px;*/
}

.container table thead td {
    background-color: #f5f5f5;
    padding: 4px 10px;
}

.container table tbody td {
    padding: 4px 10px;
}

.container .box {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 30px;
}

.container input {
    background-color: #f5f5f5;
    border: 1px 1px 1px 1px;
    border-radius: 4px 4px 4px 4px;
    padding: 5px 10px;
    font-size: 14px;
    font-color: #000000;
}

.container input[type="submit"] {
    background-color: #f5f5f5;
    cursor: pointer;
    font-size: 14px;
    text-transform: lowercase;
    display: inline;
}

.container input[type="file"]{
    background-color: #f5f5f5;
    cursor: pointer;
    font-size: 14px;
    text-transform: lowercase;
}

.container select {
    background-color: #f5f5f5;
    border: 1px 1px 1px 1px;
    border-radius: 4px 4px 4px 4px;
    padding: 5px 10px;
    font-size: 14px;
    font-color: #000000;
}

.container label{
    background-color: #f5f5f5;
    font-size: 14px;
    font-weight: normal;
}

.container input[type="radio"] {
    background-color: #f5f5f5;
}

.container input[type="submit"]:hover {
    background-color: #380000;
    color: #fff;
}
.container button {
    background-color: #ccc;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.container button:hover {
    background-color: #222;
    color: #fff;
}

.footerlinks {
    font-size: 10px;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    word-spacing: 2px;
    bottom: 0;
    left: 0;
}

.logo {
	background-color: #580000;
	border-color: #000000;
    text-shadow: 2px 2px #888888;
    /*vertical-align: center;*/
    text-align: left;
    text-indent: 15px;
    letter-spacing: -2px;
    color: #f8f8f8;
    font-size: 70px;
    border-bottom: 8px solid #480000; 
    padding-top: 5px;
    display: block;
}

.logo2{
    font-size: 20px;
    text-shadow: 1px 1px #888888;
    display: inline-block;
    text-align: left;
    text-indent: 18px;
    letter-spacing: -2px;
    margin-top: 5px;
    font-style: italic;
}

.logo .number {
    color: #222;
    opacity: 0.1;
}

.navigation {
    margin-top: 20px;
    margin-left: 20px;
    float: left;

}

.navigation a {
    display: block;
    width: 110px;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    text-transform: lowercase;
    font-weight: bold;
    background: #380000;
    color: #f5f5f5;
    border: 1px solid #f5f5f5;
}

.navigation div{
    display: inline-block;
    width: 130px;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    background: #380000;
    color: #f5f5f5;
    border: 1px solid #f5f5f5;
}

.navigation a:hover {
    background-color: f5f5f5;
    color: #380000;
    background: transparent;
    text-transform: uppercase;
    font-weight: bold;
}

.navigation div:hover {
    background-color: f5f5f5;
    width: 130px;
    color: #380000;
    background: transparent;
    font-weight: bold;
}